@define-color main_color #FFFFFF;
/* @define-color border_color #CBA6F7; */
/* @define-color border_color #72A7BC; */
@define-color border_color #595959; 


* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
    background-color: rgba(0, 0, 0, .0);
}


#cpu,
#battery,
#temperature,
#clock,
#workspaces,
#custom-rofi,
#tray,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#language,
#idle_inhibitor,
#memory,
#custom-gpu-usage,
#custom-right,
#custom-left {
   color: @main_color;
   background: #242424;
   margin: 4px 0px 4px 0px;
   /* opacity: 1; */
   border-top: 2px solid @border_color;
   border-bottom: 2px solid @border_color;
}

tooltip {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
    color: @main_color; 
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: #8EC07C;
    color: #242424;
    margin-left: 0px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 0px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty:not(.active) {
    color: #828282;
}



#workspaces button.focused {
    background: #DA025D;
    color: #DDBF98;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/**/
/* #workspaces button:hover { */
/*     background: #b16286; */
/*     border: none; */
/* } */

#workspaces {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#custom-rofi {
    color: #38ef7d; 
    padding-left: 0px;
    padding-right: 10px;
}

#temperature {
    color: #EEBD35;
    padding-left: 0px;
    padding-right: 19px;
}

#temperature.critical {
    color: #ff0000;
    padding-left: 0px;
    padding-right: 19px;
}

#backlight {
    color: #FF8B49;
    padding-left: 0px;
    padding-right: 19px;
}

#pulseaudio {
    color: #EA879D;
    padding-left: 0px;
    padding-right: 19px;
}

#battery {
    color: #76946A;
    padding-left: 0px;
    padding-right: 0px;
}

#tray {
  padding-left: 0px;
  padding-right: 19px;
}

#network {
   padding-left: 0px;
   padding-right: 15px;
}

#cpu {
   color: #74C7EC;
   padding-left: 0px;
   padding-right: 19px;
}

#memory {
   color:#CBA6F7;
   padding-left: 0px;
   padding-right: 19px;
}

#custom-gpu-usage {
   color: #74C7EC;
   padding-left: 0px;
   padding-right: 19px;
}


#clock {
   color: #FFFFFF;
   padding-left: 0px;
   padding-right: 0px;
   font-weight: bold;
}

#custom-right {
    margin-right: 9px;
    padding-right: 9px;
    border-radius: 0px 22px 22px 0px;
    border-right: 2px solid @border_color;
}

#custom-left {
    margin-left: 9px;
    padding-left: 9px;
    border-radius: 22px 0px 0px 22px;
    border-left: 2px solid @border_color;
}


#bluetooth {
   padding-left: 0px;
   padding-right: 15px;
   color: #74C7EC;
}

#bluetooth.disabled {
    color: #828282; 
}

#bluetooth.connected {
    color: #DDBF98;
}

#language {
    padding-left: 0px;
    padding-right: 15px;
}

#idle_inhibitor {
    color: #FF8B49;
    padding-left: 15px;
    padding-right: 15px;
}
